node_modules
changelog.txt
old.html
package-lock.json
portfolio-details.html
Readme.txt
webpack.config.js
forms/contact.php
scripts/setupTypeScript.js
.svelte-kit/ambient.d.ts
.svelte-kit/tsconfig.json
.svelte-kit/generated/root.svelte
.svelte-kit/generated/client/app.js
.svelte-kit/generated/client/matchers.js
.svelte-kit/generated/client/nodes/0.js
.svelte-kit/generated/client/nodes/1.js
.svelte-kit/generated/client/nodes/2.js
.svelte-kit/generated/client-optimized/app.js
.svelte-kit/generated/client-optimized/matchers.js
.svelte-kit/generated/client-optimized/nodes/0.js
.svelte-kit/generated/client-optimized/nodes/1.js
.svelte-kit/generated/client-optimized/nodes/2.js
.svelte-kit/generated/server/internal.js
.svelte-kit/output/client/favicon.png
.svelte-kit/output/client/_app/version.json
.svelte-kit/output/client/_app/immutable/assets/0.638f17f1.css
.svelte-kit/output/client/_app/immutable/assets/2.b269aa0a.css
.svelte-kit/output/client/_app/immutable/chunks/index.27c0fb28.js
.svelte-kit/output/client/_app/immutable/chunks/singletons.36ac26fd.js
.svelte-kit/output/client/_app/immutable/entry/app.0e88de27.js
.svelte-kit/output/client/_app/immutable/entry/start.4ff5ddd7.js
.svelte-kit/output/client/_app/immutable/nodes/0.38065e8d.js
.svelte-kit/output/client/_app/immutable/nodes/1.b5933203.js
.svelte-kit/output/client/_app/immutable/nodes/2.d66cae3d.js
.svelte-kit/output/client/assets/css/style.css
.svelte-kit/output/client/assets/css/boxicons/boxicons.css
.svelte-kit/output/client/assets/css/fonts/boxicons.eot
.svelte-kit/output/client/assets/css/fonts/boxicons.svg
.svelte-kit/output/client/assets/css/fonts/boxicons.ttf
.svelte-kit/output/client/assets/css/fonts/boxicons.woff
.svelte-kit/output/client/assets/css/fonts/boxicons.woff2
.svelte-kit/output/client/assets/css/remixicon/remixicon.css
.svelte-kit/output/client/assets/css/remixicon/remixicon.eot
.svelte-kit/output/client/assets/css/remixicon/remixicon.less
.svelte-kit/output/client/assets/css/remixicon/remixicon.svg
.svelte-kit/output/client/assets/css/remixicon/remixicon.symbol.svg
.svelte-kit/output/client/assets/css/remixicon/remixicon.ttf
.svelte-kit/output/client/assets/css/remixicon/remixicon.woff
.svelte-kit/output/client/assets/css/remixicon/remixicon.woff2
.svelte-kit/output/client/assets/img/apple-touch-icon.png
.svelte-kit/output/client/assets/img/hero-bg.jpg
.svelte-kit/output/client/assets/img/Linea2.Software2.JPG
.svelte-kit/output/client/assets/img/Línea3.Aplicación.jpg
.svelte-kit/output/client/assets/img/Linea4.Capacitación.jpg
.svelte-kit/output/client/assets/img/Lineas1.Hardware.JPG
.svelte-kit/output/client/assets/img/logo.png
.svelte-kit/output/client/assets/img/clients/cocesna.png
.svelte-kit/output/client/assets/img/clients/copeco.png
.svelte-kit/output/client/assets/img/clients/geci.png
.svelte-kit/output/client/assets/img/clients/ideam.jpg
.svelte-kit/output/client/assets/img/clients/inameh.png
.svelte-kit/output/client/assets/img/clients/insivumeh.jpg
.svelte-kit/output/client/assets/img/clients/insmet.png
.svelte-kit/output/client/assets/img/hitos/1983.jpg
.svelte-kit/output/client/assets/img/hitos/1992.jpg
.svelte-kit/output/client/assets/img/hitos/1998.jpg
.svelte-kit/output/client/assets/img/hitos/2003.jpg
.svelte-kit/output/client/assets/img/hitos/2006.jpg
.svelte-kit/output/client/assets/img/hitos/2014.jpg
.svelte-kit/output/client/assets/img/hitos/2015.jpg
.svelte-kit/output/client/assets/img/hitos/2020.jpg
.svelte-kit/output/client/assets/img/portfolio/portfolio-1.jpg
.svelte-kit/output/client/assets/img/portfolio/portfolio-2.jpg
.svelte-kit/output/client/assets/img/portfolio/portfolio-3.jpg
.svelte-kit/output/client/assets/img/portfolio/portfolio-4.jpg
.svelte-kit/output/client/assets/img/portfolio/portfolio-5.jpg
.svelte-kit/output/client/assets/img/portfolio/portfolio-6.jpg
.svelte-kit/output/client/assets/img/portfolio/portfolio-7.jpg
.svelte-kit/output/client/assets/img/portfolio/portfolio-8.jpg
.svelte-kit/output/client/assets/img/portfolio/portfolio-9.jpg
.svelte-kit/output/client/assets/img/portfolio/portfolio-details-1.jpg
.svelte-kit/output/client/assets/img/portfolio/portfolio-details-2.jpg
.svelte-kit/output/client/assets/img/portfolio/portfolio-details-3.jpg
.svelte-kit/output/client/assets/img/team/arturo.jpg
.svelte-kit/output/client/assets/img/team/leo.jpg
.svelte-kit/output/client/assets/img/team/leonardo.jpg
.svelte-kit/output/client/assets/img/team/orlando.jpg
.svelte-kit/output/client/assets/img/team/roberto.jpg
.svelte-kit/output/client/assets/img/team/vladimir.jpg
.svelte-kit/output/client/assets/img/testimonials/armando.jpg
.svelte-kit/output/client/assets/img/testimonials/dario.jpg
.svelte-kit/output/client/assets/img/testimonials/elbarosa.jpg
.svelte-kit/output/client/assets/img/testimonials/enrique.jpg
.svelte-kit/output/client/assets/img/testimonials/ines.jpg
.svelte-kit/output/client/assets/img/testimonials/josefidel.jpg
.svelte-kit/output/client/assets/img/testimonials/yasser.jpg
.svelte-kit/output/client/assets/js/bootstrap.bundle.js
.svelte-kit/output/client/assets/js/bootstrap.bundle.js.map
.svelte-kit/output/client/assets/js/bootstrap.bundle.min.js
.svelte-kit/output/client/assets/js/bootstrap.bundle.min.js.map
.svelte-kit/output/client/assets/js/bootstrap.esm.js
.svelte-kit/output/client/assets/js/bootstrap.esm.js.map
.svelte-kit/output/client/assets/js/bootstrap.esm.min.js
.svelte-kit/output/client/assets/js/bootstrap.esm.min.js.map
.svelte-kit/output/client/assets/js/bootstrap.js
.svelte-kit/output/client/assets/js/bootstrap.js.map
.svelte-kit/output/client/assets/js/bootstrap.min.js
.svelte-kit/output/client/assets/js/bootstrap.min.js.map
.svelte-kit/output/prerendered/pages/index.html
.svelte-kit/output/server/index.js
.svelte-kit/output/server/internal.js
.svelte-kit/output/server/manifest-full.js
.svelte-kit/output/server/manifest.js
.svelte-kit/output/server/_app/immutable/assets/_layout.3b26151d.css
.svelte-kit/output/server/_app/immutable/assets/_page.0f646eb5.css
.svelte-kit/output/server/chunks/index.js
.svelte-kit/output/server/chunks/internal.js
.svelte-kit/output/server/entries/fallbacks/error.svelte.js
.svelte-kit/output/server/entries/pages/_layout.svelte.js
.svelte-kit/output/server/entries/pages/_layout.ts.js
.svelte-kit/output/server/entries/pages/_page.svelte.js
.svelte-kit/output/server/nodes/0.js
.svelte-kit/output/server/nodes/1.js
.svelte-kit/output/server/nodes/2.js
.svelte-kit/types/route_meta_data.json
.svelte-kit/types/src/routes/$types.d.ts
.vscode/settings.json
